#footer.margin__top--double
  .grid-wrapper
    .grid-inner-wrapper
      .legal-text
        © 2014 Maria Conceição Pinho

      .social-items
        %span.st_facebook_large{:displayText=>'Facebook'}
        %span.st_linkedin_large{:displayText=>'LinkedIn'}