%header.header
  .header__content
    %nav.main-menu
      %a.main-menu__item{:href => ""}
        Home
      %a.main-menu__item{:href => ""}
        Quem sou
      %a.main-menu__item{:href => ""}
        O meu percurso 
      %a.main-menu__item{:href => ""}
        Consultas
      %a.main-menu__item{:href => "trabalhos-de-grupo.index.html"}
        Trabalho em grupo
      %a.main-menu__item{:href => ""}
        Contacto