%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, minimal-ui"}
    %meta{name: "format-detection", content: "telephone=no"}
    %title Maria Conceição Pinho
    %link{rel: "stylesheet", href: "./assets/css/main.css"}

    /[if lte IE 8]
      %script{:type=>'text/javascript', :src=>'./assets/js/modernizr.js'}

  %body
    = Haml::Engine.new(File.read('src/haml/partials/_header.haml')).render
    
    .fluid-wrapper
      .grid-wrapper.margin__top--double
        .grid-100
          .padding--full
            .padding--double.content-box
              .grid-100
                %h1.content-box__title.content-box__paragraph
                  Consultas
                %h2.content-box__subtitle.content-box__border
                  Perguntas frequentes
                %p 
                  Faço terapias de reconstituição emocional e cognitiva.
                %p 
                  Antes de vir à consulta peço -lhe que faça a sua árvore genealógica. Assim tem a possibilidade de perceber melhor os recursos que herdou  e os aspetos que  vem resgatar.  
                %p 
                  Cada consulta tem um tema ou assunto que vamos tratar. 
                  %br
                  Utilizo  EMDR (Eye Movement Desensitization and Retroprocessing)  uma técnica terapêutica que, por meio da estimulação bilateral, promove a dessensibilização e reprocessamento de experiências emocionalmente traumatizantes.
                %p 
                  O EMDR é usado nos campos de refugiados devido à sua rápida eficácia e é recomendado pela  Associação Psiquiátrica Americana como um dos principais métodos existentes  para o tratamento de situações traumáticas.

      .grid-wrapper.mobile-show.tablet-show
        .grid-100
          .padding--full
            .padding--double.content-box.home__boxes
              %h2.content-box__subtitle.content-box__border
                Como é a hipnose?
              %p 
                Trabalho com a pessoa em estado alterado de consciência - está consciente, ouve-me e fala, mas, ao mesmo tempo, está a ter acesso a imagens que podem ser do inconsciente e que estão conectadas com o problema que está a ser tratado.
       
              %h2.content-box__subtitle.content-box__border
                E como é a consulta?
              %p 
                Inicio a terapia com a história de vida e cada sessão tem um tema. Habitualmente as vivências são visuais – a pessoa vê e sente-se numa situação da qual tinha memória ou não. Há cheiros, cores e sons. Há também vivências que são quase totalmente só sensoriais, sem imagens visuais. Muitas vezes as memórias são assim, carregadas de sensações, emoções e sentimentos. 
              %p 
                ​Aí trabalhamos as vivências até estas serem integradas e curadas. Com a sua consciência mais ampliada, a pessoa percebe então o que é necessário para curar aquela situação.
              %p 
                É como ir às caves limpar, reorganizar e encontrar os Tesouros que vão tornar a nossa vida melhor.
              %p 
                Eu confio na sabedoria das experiências, pois elas são lições de vida que nos trazem as contribuições muito úteis para o presente.
              %p 
                Depois de darmos um sentido para o inferno que era aquela dor, começa então a programação positiva de acordo com os valores do paciente, pois ele sabe o que o revela no melhor de si.
       
              %h2.content-box__subtitle.content-box__border
                E o que trata?
              %p 
                Cada vez que uma situação nos toca emocionalmente, é como se acendesse no nosso cérebro uma imagem que nós vamos concretizar uma vez mais e que leva, novamente, à repetição do nosso padrão de comportamento.
              %p 
                Pode ser um medo, um vício, um hábito de relacionamento.
              %p
                Tudo aquilo que fazemos e que nem sempre são gestos que revelam o melhor de nós próprios.
              %p 
                Assim, podemos dizer que tudo o que nos acontece, acontece por uma causa que vem do nosso interior. As causas externas são secundárias.
              %p 
                Uma emoção é um movimento em direção ao exterior, um impulso que nasce do interior de nós próprios, acordado por estímulos internos ou externos, que nos informa sobre quem somos e nos coloca em relação com o mundo. Uma emoção é como uma coleção de respostas que formam um padrão distinto.

      .grid-wrapper.mobile-hide.tablet-hide
        .grid-33.grid-md-33.grid-sm-100
          .padding--full
            .padding--double.content-box.consultas__boxes--big
              %h2.content-box__subtitle.content-box__border
                Como é a hipnose?
              %p 
                Trabalho com a pessoa em estado alterado de consciência - está consciente, ouve-me e fala, mas, ao mesmo tempo, está a ter acesso a imagens que podem ser do inconsciente e que estão conectadas com o problema que está a ser tratado.
        .grid-33.grid-md-33.grid-sm-100
          .padding--full
            .padding--double.content-box.consultas__boxes--big
              %h2.content-box__subtitle.content-box__border
                E como é a consulta?
              %p 
                Inicio a terapia com a história de vida e cada sessão tem um tema. Habitualmente as vivências são visuais – a pessoa vê e sente-se numa situação da qual tinha memória ou não. Há cheiros, cores e sons. Há também vivências que são quase totalmente só sensoriais, sem imagens visuais. Muitas vezes as memórias são assim, carregadas de sensações, emoções e sentimentos. 
              %p 
                ​Aí trabalhamos as vivências até estas serem integradas e curadas. Com a sua consciência mais ampliada, a pessoa percebe então o que é necessário para curar aquela situação.
              %p 
                É como ir às caves limpar, reorganizar e encontrar os Tesouros que vão tornar a nossa vida melhor.
              %p 
                Eu confio na sabedoria das experiências, pois elas são lições de vida que nos trazem as contribuições muito úteis para o presente.
              %p 
                Depois de darmos um sentido para o inferno que era aquela dor, começa então a programação positiva de acordo com os valores do paciente, pois ele sabe o que o revela no melhor de si.
        .grid-33.grid-md-33.grid-sm-100
          .padding--full
            .padding--double.content-box.consultas__boxes--big
              %h2.content-box__subtitle.content-box__border
                E o que trata?
              %p 
                Cada vez que uma situação nos toca emocionalmente, é como se acendesse no nosso cérebro uma imagem que nós vamos concretizar uma vez mais e que leva, novamente, à repetição do nosso padrão de comportamento.
              %p 
                Pode ser um medo, um vício, um hábito de relacionamento.
              %p 
                Tudo aquilo que fazemos e que nem sempre são gestos que revelam o melhor de nós próprios.
              %p 
                Assim, podemos dizer que tudo o que nos acontece, acontece por uma causa que vem do nosso interior. As causas externas são secundárias.
              %p 
                Uma emoção é um movimento em direção ao exterior, um impulso que nasce do interior de nós próprios, acordado por estímulos internos ou externos, que nos informa sobre quem somos e nos coloca em relação com o mundo. Uma emoção é como uma coleção de respostas que formam um padrão distinto.

    = Haml::Engine.new(File.read('src/haml/partials/_footer.haml')).render

    :plain
      <!--[if gt IE 8]> -->
    %script{:type=>'text/javascript', :src=>'./assets/js/modernizr.js'}
    :plain  
      <!-- <![endif]-->

    %script{:type=>'text/javascript', :src=>'http://w.sharethis.com/button/buttons.js'}
    %script{:type=>'text/javascript'}
      stLight.options({publisher: "bfb24a96-2a4c-4c97-979f-bc7fbf30d1ed", doNotHash: true, doNotCopy: true, hashAddressBar: false});




 