%html{lang: "en"}
  = Haml::Engine.new(File.read('src/haml/partials/_head.haml')).render

  %body
    = Haml::Engine.new(File.read('src/haml/partials/_header.haml')).render
    
    .fluid-wrapper
      .grid-wrapper.margin__top--double
        .grid-100
          .padding--full
            .padding--double.content-box
              .grid-40.grid-md-40.mobile-hide
                .padding--half.padding__top--quarter
                  %img.max-width--100{alt: "Trabalho de grupo", src: "./assets/images/trabalhodegrupo.jpg"}

              .grid-60.grid-md-60.grid-sm-100
                .padding__left--full
                  %h1.content-box__title.content-box__paragraph
                    Contacte-me
                  %h2.content-box__subtitle.content-box__border
                    Lisboa

                  .grid-40
                    %p 
                      %strong 
                        PsicoPraxis
                      %br
                      R. Conde Valbom,67,3º Esq.
                      %br
                      %strong 
                        Quíron
                      %br
                      R. Vitor Cordon, 5.           
                    %p
                      %strong 
                        Marcações:
                      %br
                      %a.paragraph{:href => "tel:00351962823979"} 
                        +351 962 823 979
                      %br
                      %a.paragraph{:href => "mailto:via.das.estrelas@gmail.com"} 
                        via.das.estrelas@gmail.com
                  .grid-60.no-js
                    %form{:action => ""}
                      Nome
                      %input#name.form__input{:type => "text"}
                      Contacto
                      %input#contact.form__input{:type => "text"}
                      Mensagem
                      %textarea#message.form__text-area{:name => "", :cols => "30", :rows => "5"}

                      %button#submit-form.button
                        Submeter

    = Haml::Engine.new(File.read('src/haml/partials/_footer.haml')).render

= Haml::Engine.new(File.read('src/haml/partials/_scripts.haml')).render

%script{:src=>'https://code.jquery.com/jquery-1.11.0.min.js'}
 
%script{:type=>'text/javascript'}
  :plain
    $("#submit-form").on('click',function(e){
      e.preventDefault();
      $("#submit-form").html('A enviar mensagem...')

      $.ajax({
        type: "POST",
        url: 'form/submit.php',
        data: {
          name    :$("#name").val(),
          contact   :$("#contact").val(),
          message  :$("#message").val()
        },
        success:function(data){
          $("#submit-form").html('Mensagem enviada com sucesso');

          ga('send', 'event', 'form' ,'from ' + $("#name").val(), '{ contact: '+ $("#contact").val()+' , message: '+$("#message").val()+' }')

          setTimeout(function(){
            $("#submit-form").html('Submeter')
          },4000);
        }
      });
    });