%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, minimal-ui"}
    %meta{name: "format-detection", content: "telephone=no"}
    %title Maria Conceição Pinho
    %link{rel: "stylesheet", href: "./assets/css/main.css"}

    /[if lte IE 8]
      %script{:type=>'text/javascript', :src=>'./assets/js/modernizr.js'}

  %body
    = Haml::Engine.new(File.read('src/haml/partials/_header.haml')).render
    
    .fluid-wrapper
      .grid-wrapper.margin__top--double
        .grid-100
          .padding--full
            .padding--double.content-box
              .grid-40.grid-md-40.mobile-hide
                .padding--half.padding__top--quarter
                  %img.max-width--100{alt: "Trabalho de grupo", src: "./assets/images/trabalhodegrupo.jpg"}

              .grid-60.grid-md-60.grid-sm-100
                .padding__left--full
                  %h1.content-box__title.content-box__paragraph
                    Contacte-me
                  %h2.content-box__subtitle.content-box__border
                    Lisboa

                  .grid-40
                    %p
                      %strong 
                        PsicoPraxis
                      %br
                      R. Conde Valbom,67,3º Esq.
                      %br
                      %strong 
                        Quíron
                      %br
                      R. Vitor Cordon, 5.           
                    %p
                      %strong 
                        Marcações:
                      %br
                      %a.paragraph{:href => "tel:00351962823979"} 
                        +351 962 823 979
                      %br
                      %a.paragraph{:href => "mailto:via.das.estrelas@gmail.com"} 
                        via.das.estrelas@gmail.com
                  .grid-60
                    %form{:action => ""}
                      Nome
                      %input.form__input{:type => "text"}
                      E-mail
                      %input.form__input{:type => "text"}
                      Mensagem
                      %textarea.form__text-area{:name => "", :cols => "30", :rows => "5"} 



    = Haml::Engine.new(File.read('src/haml/partials/_footer.haml')).render

    :plain
      <!--[if gt IE 8]> -->
    %script{:type=>'text/javascript', :src=>'./assets/js/modernizr.js'}
    :plain  
      <!-- <![endif]-->

    %script{:type=>'text/javascript', :src=>'http://w.sharethis.com/button/buttons.js'}
    %script{:type=>'text/javascript'}
      stLight.options({publisher: "bfb24a96-2a4c-4c97-979f-bc7fbf30d1ed", doNotHash: true, doNotCopy: true, hashAddressBar: false});