%html{lang: "en"}
  = Haml::Engine.new(File.read('src/haml/partials/_head.haml')).render

  %body
    = Haml::Engine.new(File.read('src/haml/partials/_header.haml')).render

    .fluid-wrapper
      .grid-wrapper.margin__top--double
        .grid-70.grid-md-70
          .padding--full
            .padding--double.content-box.home__boxes--big
              .grid-70
                %h1.content-box__title.content-box__paragraph
                  Cura Profunda
                %h2.content-box__subtitle.content-box__border
                  Crie a Vida que quer viver 
                %p 
                  Os tempos estão a mudar e todos queremos mudar para melhor.
                  %br
                  Para mudar aquilo que necessitamos primeiro começamos por olhar profundamente para as nossas crenças e para aquilo que damos valor.
                %p
                  Podemos encontrar as raízes profundas dessas crenças no condicionamento cultural da sociedade, educação, família, meios de comunicação social e até nos nossos genes (activados pelas experiências sensoriais das nossas vidas).
                %p
                  De seguida, podemos pesar as velhas ideias e conceitos contra os nossos novos sentimentos que anseiam por estabelecer as corretas relações humanas.
  
        .grid-30.grid-md-30.mobile-hide.text-align--center.home__main-picture__holder
          %img.home__main-picture{alt: "Maria Conceição Pinho", src: "./assets/images/homedetail.png"} 

      .grid-wrapper.mobile-show.tablet-show
        .grid-100
          .padding--full
            .padding--double.content-box.home__boxes
              %h2.content-box__subtitle.content-box__border
                Biografia
              %p 
                Psicoterapeuta credenciada pelo Instituto de Formação Avançada da  Faculdade de Medicina de Lisboa, pela Imaginal - Associação Portuguesa de Hipnose Clínica e Experimental  e pelo Brian Weiss Institute.
              %p
                Mestre em Psicologia, Psicoterapia e Aconselhamento pela Universidade Lusófona de Lisboa.
                %br
                Licenciada em Serviço Social pelo Instituto Superior de Serviço Social de Lisboa.
              %p
                Presidente da Direcção da Alubrat  - Associação Luso-Brasileira de Transpessoal. 
              %p 
                Dedico longas horas ao estudo da mente e dos diferentes estados de consciência  no seu vínculo com o presente, o passado e o futuro e na sua relação com a cura e o Bem-estar.
       
              %h2.content-box__subtitle.content-box__border
                Consultas
              %p 
                Faço terapias de reconstituição emocional e cognitiva.
                %br
                Cada consulta tem um tema ou assunto que vamos tratar.
                %br 
              %p
                Utilizo  EMDR - Eye Movement Desensitization and Retroprocessing, técnica usada nos campos de refugiados devido à sua rápida eficácia e que é recomendado pela  Associação Psiquiátrica Americana como um dos principais métodos existentes  para o tratamento de situações traumáticas.
       
              %h2.content-box__subtitle.content-box__border
                Trabalho em grupo
              %p 
                Como comunicar em caso de conflito a fim de estabelecer as corretas relações humanas.
              %p 
                Venha preparar-se para comunicar de uma forma tranquila e eficaz a fim de aprofundar as suas relações
                %br 
                3h de trabalho vivencial e com dicas muito práticas 
              %p
                R. Vitor Cordon, 5 em Lisboa.
                Noutros locais do país e estrangeiro com número mínimo de participantes
              
              %p 
                Dia 8 de Maio no Quiron
                %br
                Inicio 15h 
                %br
                Fim previsto 18.30h
                %br
                Inscrições Telef 21 347 49 70 das 18h ás 21h 
                %br
                ou
                %a{:href => "contacto"}
                  Contacte-me
 
      .grid-wrapper.mobile-hide.tablet-hide
        .grid-33.grid-md-33.grid-sm-100
          .padding--full
            .padding--double.content-box.home__boxes
              %h2.content-box__subtitle.content-box__border
                Biografia
              %p 
                Psicoterapeuta credenciada pelo Instituto de Formação Avançada da  Faculdade de Medicina de Lisboa, pela Imaginal - Associação Portuguesa de Hipnose Clínica e Experimental  e pelo Brian Weiss Institute.
              %p
                Mestre em Psicologia, Psicoterapia e Aconselhamento pela Universidade Lusófona de Lisboa.
                %br 
                Licenciada em Serviço Social pelo Instituto Superior de Serviço Social de Lisboa. 
              %p
                Presidente da Direcção da Alubrat  - Associação Luso-Brasileira de Transpessoal. 
              %p 
                Dedico longas horas ao estudo da mente e dos diferentes estados de consciência  no seu vínculo com o presente, o passado e o futuro e na sua relação com a cura e o Bem-estar.
        .grid-33.grid-md-33.grid-sm-100
          .padding--full
            .padding--double.content-box.home__boxes
              %h2.content-box__subtitle.content-box__border
                Consultas
              %p
                Faço terapias de reconstituição emocional e cognitiva.
                %br
                Cada consulta tem um tema ou assunto que vamos tratar.
                %br
              %p
                Utilizo  EMDR - Eye Movement Desensitization and Retroprocessing, técnica usada nos campos de refugiados devido à sua rápida eficácia e que é recomendado pela  Associação Psiquiátrica Americana como um dos principais métodos existentes  para o tratamento de situações traumáticas.
        .grid-33.grid-md-33.grid-sm-100
          .padding--full
            .padding--double.content-box.home__boxes
              %h2.content-box__subtitle.content-box__border
                Trabalho em grupo
              %p 
                Como comunicar em caso de conflito a fim de estabelecer as corretas relações humanas.
              %p 
                Venha preparar-se para comunicar de uma forma tranquila e eficaz a fim de aprofundar as suas relações
                %br
                3h de trabalho vivencial e com dicas muito práticas 
              %p
                R. Vitor Cordon, 5 em Lisboa.
                Noutros locais do país e estrangeiro com número mínimo de participantes

              %p 
                Dia 8 de Maio no Quiron
                %br
                Inicio 15h 
                %br
                Fim previsto 18.30h
                %br
                Inscrições Telef 21 347 49 70 das 18h ás 21h 
                %br
                ou
                %a.paragraph{:href => "contacto"}
                  Contacte-me

    = Haml::Engine.new(File.read('src/haml/partials/_footer.haml')).render

= Haml::Engine.new(File.read('src/haml/partials/_scripts.haml')).render