%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, minimal-ui"}
    %meta{name: "format-detection", content: "telephone=no"}
    %title Maria Conceição Pinho
    %link{rel: "stylesheet", href: "./assets/css/main.css"}

    /[if lte IE 8]
      %script{:type=>'text/javascript', :src=>'./assets/js/modernizr.js'}

  %body
    = Haml::Engine.new(File.read('src/haml/partials/_header.haml')).render
    
    .fluid-wrapper
      .grid-wrapper.margin__top--double
        .grid-100
          .padding--full
            .padding--double.content-box
              .fluid-wrapper
                .grid-40.grid-md-40.mobile-hide
                  .padding--half.padding__top--quarter
                    %img.max-width--100{alt: "africa", src: "./assets/images/africa.jpg"}

                .grid-60.grid-md-60.grid-sm-100
                  .padding__left--full
                    %h1.content-box__title.content-box__paragraph
                      Passos de uma vida
                    %h2.content-box__subtitle.content-box__border
                      África
                    %p
                      De Fevereiro de 1984 a Dezembro de 1989, direcção do Projecto "NÔ DJUNTA MON", responsável pela área de Saúde, sob a responsabilidade técnica da Organização Mundial de Saúde. Este Projeto, sediado na Associação Caboverdeana em Lisboa, teve o financiamento do Fundo das Nações Unidas para Assuntos da População.
                    %p 
                      De Outubro de 1980 a Outubro de 1981, na cidade da Praia, coordenei o Gabinete Técnico de Apoio à Direção Geral dos Assuntos Sociais de Cabo Verde. De Fevereiro de 1979 a Julho de 1980, na cidade da Praia, organizei e coordenei o Curso de Animadores Sociais, financiado pela UNICEF, no Ministério da Saúde e Assuntos Sociais de Cabo Verde.

              .fluid-wrapper
                .grid-40.grid-md-40.mobile-hide
                  .padding--half.padding__top--quarter
                    %img.max-width--100{alt: "terapias", src: "./assets/images/terapias.jpg"}

                .grid-60.grid-md-60.grid-sm-100
                  .padding__left--full
                    %h2.content-box__subtitle.content-box__border
                      Terapias                  
                    %p
                      Mestre em Psicologia, Psicoterapia e Aconselhamento pela Universidade Lusófona de Lisboa.
                    %p 
                      Estudei astrologia no Quiron, o que me permitiu medir o tamanho da minha noite e encontrar um caminho de aprofundamento do melhor de mim própria. Utilizo o mapa astrológico como raio X da psique e o corpo como ponto de partida para a Cura Profunda.

              .fluid-wrapper
                .grid-40.grid-md-40.mobile-hide
                  .padding--half.padding__top--quarter
                    %img.max-width--100{alt: "pracaalegria", src: "./assets/images/pracaalegria.jpg"}

                .grid-60.grid-md-60.grid-sm-100
                  .padding__left--full
                    %h2.content-box__subtitle.content-box__border
                      Praça da Alegria na RTP                
                    %p
                      Todas as segundas - feiras para começar bem a semana.
                    %p 
                      Comente e sugira algum assunto que queira ver tratado.



    = Haml::Engine.new(File.read('src/haml/partials/_footer.haml')).render

    :plain
      <!--[if gt IE 8]> -->
    %script{:type=>'text/javascript', :src=>'./assets/js/modernizr.js'}
    :plain  
      <!-- <![endif]-->

    %script{:type=>'text/javascript', :src=>'./assets/js/application.js'}
    %script{:type=>'text/javascript', :src=>'http://w.sharethis.com/button/buttons.js'}
    %script{:type=>'text/javascript'}
      stLight.options({publisher: "bfb24a96-2a4c-4c97-979f-bc7fbf30d1ed", doNotHash: true, doNotCopy: true, hashAddressBar: false});