%html{lang: "en"}
  = Haml::Engine.new(File.read('src/haml/partials/_head.haml')).render

  %body
    = Haml::Engine.new(File.read('src/haml/partials/_header.haml')).render
    
    .fluid-wrapper
      .grid-wrapper.margin__top--double
        .grid-100
          .padding--full
            .padding--double.content-box
              .grid-30.grid-md-30.mobile-hide
                .padding__right--full.padding--top--quarter
                  %img.max-width--100{alt: "africa", src: "./assets/images/quemsou.jpg"}
              .grid-70.grid-md-70.grid-sm-100
                %h1.content-box__title.content-box__paragraph
                  Quem Sou 
                %h2.content-box__subtitle.content-box__border
                  E os aliados que me inspiram diariamente
                %p 
                  Nasci em África onde vivi em pleno contacto com a Natureza até aos 18 anos. Num sábado quente, a guerra chegou abruptamente e deixei a casa em duas horas. Fui refugiada durante 7 dias e vim para Portugal na maior ponte aérea da História da Humanidade.
                %p 
                  Resido em Lisboa e continuo também a trabalhar em África.
                %p 
                  Sou mulher, mãe e avó e as mudanças que vivi permitem-me ter uma visão mais ampla da vida.
                %p 
                  Pratico Yoga. 
   
      .grid-wrapper.mobile-show.tablet-show
        .grid-100
          .padding--full
            .padding--double.content-box.home__boxes
              %h2.content-box__subtitle.content-box__border 
                Nelson Mandela 
              %p 
                Nelson Mandela ensinou - me o poder e a capacidade que cada um tem quando aceita ser fiel ao melhor de si próprio, independentemente das circunstâncias em que se encontra. 
              %p 
                Nas suas lições para a Vida dizia 
              %p 
                "a apresentação conta e lembre-se sempre de sorrir."
       
              %h2.content-box__subtitle.content-box__border
                Dr. Brian Weiss.
               
              %p 
                Fiz a formação profissional com o Dr. Brian Weiss. 
              %p
                Recomendo vivamente esta formação pois o Dr Brian Weiss é um exemplo vivo de humildade, excelente capacidade técnica, de amor à verdade e à Cura.

       
              %h2.content-box__subtitle.content-box__border
                Gandhi
              %p 
                Gandhi é o Mestre que me relembra 
              %p 
                " Seja a mudança que quer ver."

      .grid-wrapper.mobile-hide.tablet-hide
        .grid-33.grid-md-33.grid-sm-100
          .padding--full
            .padding--double.content-box.boxes--medium
              %h2.content-box__subtitle.content-box__border
                Nelson Mandela
              %img.max-width--100{alt: "africa", src: "./assets/images/mandela.jpg"}
              %p 
                Nelson Mandela ensinou - me o poder e a capacidade que cada um tem quando aceita ser fiel ao melhor de si próprio, independentemente das circunstâncias em que se encontra. 
              %p 
                Nas suas lições para a Vida dizia 
              %p 
                "a apresentação conta e lembre-se sempre de sorrir."

        .grid-33.grid-md-33.grid-sm-100
          .padding--full
            .padding--double.content-box.boxes--medium
              %h2.content-box__subtitle.content-box__border
                Dr. Brian Weiss.
              %img.max-width--100{alt: "africa", src: "./assets/images/brian.jpg"}
              %p 
                Fiz a formação profissional com o Dr. Brian Weiss. 
              %p
                Recomendo vivamente esta formação pois o Dr Brian Weiss é um exemplo vivo de humildade, excelente capacidade técnica, de amor à verdade e à Cura.

        .grid-33.grid-md-33.grid-sm-100
          .padding--full
            .padding--double.content-box.boxes--medium
              %h2.content-box__subtitle.content-box__border
                Gandhi
              %img.max-width--100{alt: "africa", src: "./assets/images/gandhi.jpg"}
              %p 
                Gandhi é o Mestre que me relembra 
              %p 
                " Seja a mudança que quer ver."

    = Haml::Engine.new(File.read('src/haml/partials/_footer.haml')).render

= Haml::Engine.new(File.read('src/haml/partials/_scripts.haml')).render
