%html{lang: "en"}
  = Haml::Engine.new(File.read('src/haml/partials/_head.haml')).render

  %body
    = Haml::Engine.new(File.read('src/haml/partials/_header.haml')).render
    
    .fluid-wrapper
      .grid-wrapper.margin__top--double
        .grid-100
          .padding--full
            .padding--double.content-box
              .grid-40.grid-md-40.mobile-hide
                .padding--half.padding__top--quarter
                  %img.max-width--100{alt: "Trabalho de grupo", src: "./assets/images/trabalhodegrupo.jpg"}

              .grid-60.grid-md-60.grid-sm-100
                .padding__left--full
                  %h1.content-box__title.content-box__paragraph
                    Trabalho em grupo
                  %h2.content-box__subtitle.content-box__border
                    Nestes tempos de solidão é bom trabalhar em grupo​
                  
                  %ol
                    %li 
                      Árvore genealógica, Recursos Internos e Desafios 
                    %li 
                      Como comunicar bem mesmo em caso de conflito
                    %li
                      As 4 fases da Cura

                  %p
                    O trabalho em grupo dura cerca de 3 horas, em data, local e horário a estabelecer.


    = Haml::Engine.new(File.read('src/haml/partials/_footer.haml')).render

= Haml::Engine.new(File.read('src/haml/partials/_scripts.haml')).render

